
p {
    color: #a52a2a;
    font-family: Arial, sans-serif;
}

.parrafo {
    color: #d63384;
    font-size: 18px;
}

#parrafo-unico {
    color: #ff69b4;
    font-weight: bold;
}


body {
    background-color: #fff0f5;
    margin: 0;
    padding: 0;
}

.contenedor {
    background-color: #ffe4e1;
    border: 2px dotted #d63384;
    box-shadow: 4px 4px 8px #ffb6c1;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
}


#titulo {
    padding: 20px;
    margin: 15px;
    border: 3px dashed #c71585;
    background-color: #f8bbd0;
    text-align: center;
    color: white;
    font-family: 'Comic Sans MS', cursive;
}

.boton {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 5px;
    padding: 10px 15px;
    background-color: #ffb6c1;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.boton:hover {
    background-color: #ff69b4;
    transform: scale(1.1);
    color: white;
}

.parrafo::first-letter {
    font-size: 28px;
    color: #c71585;
}


.tarjeta {
    background-color: #ffe6f0;
    border: 2px solid #d63384;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 6px #d8bfd8;
}


.imagen {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 12px;
    border: 2px solid #d63384;
}


.caja-transformada {
    width: 150px;
    height: 150px;
    background-color: #ffcccb;
    transform: rotate(8deg);
    margin: 20px auto;
    text-align: center;
    line-height: 150px;
    border-radius: 10px;
    color: #800000;
    font-weight: bold;
}


@keyframes mover {
    0% { transform: translateX(0); }
    50% { transform: translateX(60px); }
    100% { transform: translateX(0); }
}

.animacion {
    width: 200px;
    height: 50px;
    background-color: #f8bbd0;
    animation: mover 3s infinite;
    text-align: center;
    line-height: 50px;
    margin: 30px auto;
    border-radius: 20px;
    font-weight: bold;
    color: #8b0000;
}
